﻿@model Cotizacion_Seguros.Web.Models.Seguro.RegistrarSeguro

@{
    ViewData["Title"] = "Registrar Poliza";
}

<h1>Registro de Poliza</h1>

<h4>Ingrese los datos del vehículo.</h4>
<hr />
<div class="container">
    <form asp-action="RegistrarPoliza">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="FkClienteId" type="hidden" />
        <div class="row">
            <div class="col-md-6">
                <label asp-for="PolizaAsociadaId" class="control-label"></label>
                <select asp-for="PolizaAsociadaId" class="form-control" asp-items="ViewBag.Polizas" onchange="MostrarOcultarValoresAdicionales(this.value)"></select>
                <span asp-validation-for="PolizaAsociadaId" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="FkAsesorAsociadoId" class="control-label"></label>
                <select asp-for="FkAsesorAsociadoId" class="form-control" asp-items="ViewBag.Asesores"></select>
                <span asp-validation-for="FkAsesorAsociadoId" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Vehiculo.Placa" class="control-label"></label>
                <input asp-for="Vehiculo.Placa" class="form-control" />
                <span asp-validation-for="Vehiculo.Placa" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Vehiculo.Modelo" class="control-label"></label>
                <input asp-for="Vehiculo.Modelo" class="form-control" />
                <span asp-validation-for="Vehiculo.Modelo" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Vehiculo.Anio" class="control-label"></label>
                <input asp-for="Vehiculo.Anio" class="form-control" />
                <span asp-validation-for="Vehiculo.Anio" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Vehiculo.SerialDeCarroceria" class="control-label"></label>
                <input asp-for="Vehiculo.SerialDeCarroceria" class="form-control" />
                <span asp-validation-for="Vehiculo.SerialDeCarroceria" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Vehiculo.ValorComercial" class="control-label"></label>
                <input asp-for="Vehiculo.ValorComercial" class="form-control" />
                <span asp-validation-for="Vehiculo.ValorComercial" class="text-danger"></span>
            </div>
        </div>
        <div class="row" id="valoresAdicionales">
            <div class="col-md-4">
                <label asp-for="ValoresAPagar.MontoAire" class="control-label"></label>
                <input asp-for="ValoresAPagar.MontoAire" class="form-control" />
                <span asp-validation-for="ValoresAPagar.MontoAire" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="ValoresAPagar.MontoRadio" class="control-label"></label>
                <input asp-for="ValoresAPagar.MontoRadio" class="form-control" />
                <span asp-validation-for="ValoresAPagar.MontoRadio" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="ValoresAPagar.MontoRines" class="control-label"></label>
                <input asp-for="ValoresAPagar.MontoRines" class="form-control" />
                <span asp-validation-for="ValoresAPagar.MontoRines" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="row text-right">
            <div class="col-md-12">
                <a asp-action="Listar" asp-controller="Cliente" class="btn btn-info">Cancelar</a>
                <input type="submit" value="Confirmar seguro" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        MostrarOcultarValoresAdicionales("1");

        function MostrarOcultarValoresAdicionales(val) {
            if (val == "1") {
                $('#valoresAdicionales').hide();
            } else {
                $('#valoresAdicionales').show();
            }
        }
    </script>
}
