﻿@model Cotizacion_Seguros.Web.Models.Vehiculo.ListarVehiculo

@{
    ViewData["Title"] = "Listado de vehículos";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h4>Listado de vehiculos del cliente : <strong>@Html.DisplayFor(model => model.NombreDelCliente)</strong></h4>
        </div>
        <div class="col-md-3 text-right">
            <a asp-action="Listar" asp-controller="Cliente" class="btn btn-outline-primary">Volver</a>
        </div>
    </div>
</div>
<hr />
<table class="table">
    <thead class="text-center">
        <tr>
            <td>
                Placa
            </td>
            <td>
                Modelo
            </td>
            <td>
                Año
            </td>
            <td>
                Serial de carrocería
            </td>
            <td>
                Valor comercial
            </td>
            <td>
                Monto pagado
            </td>
            <td>
                Póliza adquirida
            </td>
        </tr>
    </thead>
    <tbody>
        @if (Model.Vehiculos != null && Model.Vehiculos.Any())
        {
            foreach (var item in Model.Vehiculos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Anio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialDeCarroceria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorComercial)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MontoPagado)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionPoliza)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>