﻿@model Cotizacion_Seguros.Web.Models.Asesor.ListarAsesor

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h4>Listado de asesores</h4>
        </div>
        <div class="col-md-2 text-right">
            <a asp-action="Listar" asp-controller="Cliente" class="btn btn-outline-info">Listar Clientes</a>
        </div>
    </div>
    <hr />

    <table class="table">
        <thead class="text-center">
            <tr>
                <td>
                    Identificación
                </td>
                <td>
                    Nombre
                </td>
                <td>
                    Acciones
                </td>
            </tr>
        </thead>
        <tbody>
            @if (Model.Asesores != null && Model.Asesores.Any())
            {
                foreach (var item in Model.Asesores)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Identificacion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreCompleto)
                        </td>
                        <td class="text-center">
                            <a asp-action="ListarVehiculos" asp-route-asesorId="@item.AsesorId" asp-route-nombreAsesor="@item.NombreCompleto">Ver vehículos</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>