﻿@model Cotizacion_Seguros.Web.Models.Vehiculo.ListarVehiculo

@{
    ViewData["Title"] = "ListarVehiculos";
}

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h4>Listado de vehiculos asegurados por asesor : <strong>@Html.DisplayFor(model => model.NombreDelCliente)</strong></h4>
        </div>
        <div class="col-md-3 text-right">
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-primary">Volver</a>
        </div>
    </div>
</div>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                Placa
            </th>
            <th>
                Poliza adquirida
            </th>
            <th>
                Modelo
            </th>
            <th>
                Serial de carrocería
            </th>
            <th>
                Valor comercial
            </th>
            <th>
                Monto pagado
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Vehiculos != null && Model.Vehiculos.Any())
        {
            @foreach (var item in Model.Vehiculos)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Placa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionPoliza)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Modelo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SerialDeCarroceria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorComercial)
                    </td>
                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.MontoPagado)
                    </td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <th>
                Valor total de comisión
            </th>
            <th class="text-right" colspan="5">
                @Model.MontoAcumulado
            </th>
        </tr>
    </tfoot>
</table>
