﻿@model Cotizacion_Seguros.Web.Models.Cliente.ListarCliente

@{
    ViewData["Title"] = "Listado de clientes";
}

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h4>Listado de clientes</h4>
        </div>
        <div class="col-md-5 text-right">
            <a asp-action="Index" asp-controller="Home" class="btn btn-outline-info">Volver</a>
            <a asp-action="Registrar" class="btn btn-outline-primary">Registrar cliente</a>
        </div>
    </div>
</div>

<table class="table">
    <thead class="text-center">
        <tr>
            <th>
                Identificación
            </th>
            <th>
                Nombre
            </th>
            <th>
                Direccion
            </th>
            <th>
                Telefono
            </th>
            <th>
                Fecha de nacimiento
            </th>
            <th>
                Estado civil
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Clientes != null && Model.Clientes.Any())
        {
            foreach (var item in Model.Clientes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Identificacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescripcionEstadoCivil)
                    </td>
                    <td class="text-center">
                        <div class="dropdown">
                            <button class="btn btn-default btn-sm" type="button" id="menuContratos" data-toggle="dropdown"><strong class="text-black-50">...</strong></button>
                            <div class="dropdown-menu" aria-labelledby="menuContratos" style="cursor:pointer">
                                <a class="dropdown-item" href="@Url.Action("Listar", "Vehiculo", new { guClienteId = item.ClienteId })"><span class="fa fa-automobile"></span> &nbsp; Ver vehículos</a>
                                <a class="dropdown-item" href="@Url.Action("RegistrarPoliza", "Poliza", new { clienteId = item.ClienteId })"><span class="fa fa-edit"></span> &nbsp; Registrar vehículo</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
