﻿@model Cotizacion_Seguros.Web.Models.Cliente.RegistrarCliente

@{
    ViewData["Title"] = "Registrar Cliente";
}

<h4>Diligencie los campos para registrar un cliente</h4>
<hr />
<div class="container">
    <form asp-action="Registrar">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Identificacion" class="control-label"></label>
                <input asp-for="Identificacion" class="form-control" />
                <span asp-validation-for="Identificacion" class="text-danger"></span>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="EstadoCivilId" class="control-label"></label>
                <select asp-for="EstadoCivilId" asp-items="ViewBag.EstadoCivil" class="form-control"></select>
                <span asp-validation-for="EstadoCivilId" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="FechaDeNacimiento" class="control-label"></label>
                <input asp-for="FechaDeNacimiento" class="form-control" />
                <span asp-validation-for="FechaDeNacimiento" class="text-danger"></span>
            </div>
        </div>
        <hr />
        <div class="row text-right">
            <div class="col-md-12">
                <a asp-action="Listar" asp-controller="Cliente" class="btn btn-info">Cancelar</a>
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
